* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    background-color: #010a01;
    padding-top: 40px;
    transition: all 1s;
    box-shadow: -6px 1px 17px 0 #000;
}
.menu--close {
    transform: translateX(110%);
}
.menu__close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: -230px;
    margin-bottom: 30px;
}
.menu__list {
    text-align: center;
}
.menu__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    list-style-type: none;
    padding: 20px 0;
}
.menu__item a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 7px #fff,
                 0 0 10px #fff,
                 0 0 21px #fff,
                 0 0 42px #0fa,
                 0 0 82px #0fa,
                 0 0 92px #0fa,
                 0 0 102px #0fa,
                 0 0 151px #0fa
}
.menu__item a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 3px #fff,
                 0 0 6px #fff,
                 0 0 21px #fff,
                 0 0 55px #0fa,
                 0 0 110px #0fa,
                 0 0 92px #0fa,
                 0 0 150px #0fa,
                 0 0 250px #0fa
}